<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>SVM</title>
</head>
<body>

    <ul>
        <li>@Html.ActionLink("Ir a Home", "Home", "Home")</li>
        <li>@Html.ActionLink("Ir a About", "About", "Home")</li>
    </ul>

    <fieldset>
