<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Quiz 2</title>
    </head>
    <body>
        <ul>
            <li>@Html.ActionLink("Mostrar el Nombre del atleta", "MostrarNombre")</li>
            <li>@Html.ActionLink("Mostrar el Numero del atleta", "MostrarNumero")</li>
        </ul>
        <fieldset>
