@model Quiz2ProgramaciónWEBen.NET2019_II.Models.AtletaModelo

@{
    Html.RenderPartial("Head");
}

<legend>@Html.DisplayNameFor(Model => Model.nombre)</legend>
<div>
    @Html.DisplayFor(Model => Model.nombre)
</div>

@{
    Html.RenderPartial("Footer");
}
